.oeuvres-grid {
  background-color: rgb(58, 58, 58);
}

/* NAV */

.contain {
  grid-column-start: f;
  grid-column-end: f3;
  grid-row-start: g1;
  grid-row-end: g2;
  background: #1e1e1e;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 2vh 0px rgb(39, 37, 37);
}

.logo {
  margin-top: -4vh;
  width: 14vh;
}

.liens {
  display: flex;
  flex-direction: row;
}

.lien {
  padding: 2vw 4vw 2vw 4vw;
  color: white;
  font-size: 4vh;
}

.lien:hover {
  color: white;
  font-weight: bold;
  background: #131313;
}

/* FIN NAV */

.oeuvres-livre {
  grid-column-start: f;
  grid-column-end: f3;
  grid-row-start: g2;
  grid-row-end: g3;
  display: flex;
  flex-direction: column;
}

.oeuvres-titre {
  grid-column-start: f;
  grid-column-end: f3;
  text-align: center;
  font-size: 6vh;
  color: white;
  background: rgba(30, 30, 30, 0.603);
}

.to-comment {
  text-align: center;
}

.a{
  color: white;
  font-size: 2vh;
  background: rgb(65, 65, 65);
}

.a:hover{
  color: rgb(65, 65, 65);
  background: rgb(161, 161, 161);
}

.oeuvres-contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.oeuvres-card {
  border: 5px rgb(122, 120, 120) double;
  margin: 2vh;
  width: 45vh;
  background: white;
  box-shadow: 2vh 2vh 3vh 1vh rgb(39, 37, 37);
  display: flex;
  flex-direction: column;
}
.button-end {
  justify-content: flex-end;
}
.oeuvres-image {
  width: 44vh;
  height: 60vh;
  border: 1vh rgb(122, 120, 120) double;
  padding: 0.3vh;
}

.oeuvres-modal {
  width: 100vh;
}

.oeuvres-button {
  width: 100%;
  height: 6vh;
  background-color: rgb(58, 58, 58);
  color: white;
}

.oeuvres-card-soustitre {
  font-size: 1.5vh;
}

.oeuvres-card-resume {
  font-size: 2vh;
}

.oeuvres-card-titre {
  font-size: 4vh;
  text-align: center;
  background: rgba(30, 30, 30, 0.342);
  border: 0.3vh solid #1e1e1e;
}
/* FOOTER */

.footer {
  grid-column-start: f;
  grid-column-end: f3;
  grid-row-start: g3;
  grid-row-end: g4;
  background: #1e1e1e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: -6vh;
  box-shadow: 3vh 0px 0px 0px rgb(39, 37, 37);
}

.logo-footer {
  width: 15vh;
  color: white;
}
